.chat {
  width: 50vw;
  height: 75vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow: auto;
}

.message-input {
  height: 40px;
  flex: 1;
}

.message-panel {
  display: flex;
}